* {
  /* border: 0px; */
  margin: 0px;
  padding: 0px;
}
button {
  width: 25px;
  height: 25px;
  background-size: 20px;
  /* background-size: cover; */
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('./menu.svg')

}

#dropdown-list {
  display: none;
}